<nav class="nav-bar">
  <ul> 
    <a href="/"><li>home</li></a>
    <a href="/about/"><li>about me</li></a>   
    <a href="/blog/"><li>blog</li></a>
    <a href="/resources/"><li>resources</li></a>
    <a href="/bookshelf/"><li>my bookshelf</li></a>
  </ul>
</nav>

<div id="song" class="songbox">
  <p>"I must be Invisible, no one knows me" <br />-Eric Clapton 
    <br />
    <span class="whysong">There's always music on my mind :)</span>
  </p>
</div>

