---
layout: layout.njk
title: Shahjahan Iqbal | Home
description: Personal website of Shahjahan Iqbal
---

<span id="initializer">
  <span id="home-hero" class="home-hero"> 
    <span id="whatami"></span> 
  </span>
</span>